<div id="main-wrapper">
    <app-header></app-header>
    <app-side-bar [displayUserInfo]="dispString"></app-side-bar>
    <div id="content-wrapper">
       <div class="page-heading">{{'Change Password'|translate}}</div>
       <div class="billing-sec complaints-page">
          <div class="row margin_top10">
             <div class="col-sm-12">
                <div
                   class="panel-body"
                   >
                   <div class="row">
                      <div
                         class="col-sm-6 col-sm-offset-3 profile-right-content padding_top50"
                         >
                        <app-change-password></app-change-password>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div id="main-menu-bg"></div>
    </div>
    <app-footer></app-footer>
 </div>