<ng-container *ngIf="isAdFound == true && adLoader == false">
  <ul class="dash-box-list">
    <li class="dash-box-li rows offer-li" style="list-style: none;">
      <div class="offer-section" [ngClass]="{'image-ads': adData[0]?.type == 'image'}">
        <div
          class="text-content"
          *ngIf="adData[0]?.type == 'text'"
        >
          {{ adData[0].add_val }}
        </div>
        <div
          *ngIf="adData[0]?.type == 'image'"
        >
          <img src="{{ adimagurl }}/{{ adData[0].id}}/{{ adData[0]?.add_val }}" />
        </div>
        <div
          class="iframe-ads"
          *ngIf="isGoogleAd == true"
        >
          
          <div id="afscontainer1"></div>
        </div>
      </div>
    </li>
  </ul>
</ng-container>
<ng-container *ngIf="adLoader == true">
  <div class="rows">
    <div class="spinner box-spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
</ng-container>
