<div id="main-wrapper" class="no-sidebar">
  <app-header></app-header>
  <div id="content-wrapper" class="complaint-wrapeer-bg">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="page-heading">{{ "Change Password" | translate }}</div>
      <div class="billing-sec complaints-page">
        <div class="row margin_top10">
          <div class="col-sm-12">
            <div class="panel-body">
              <div class="row">
                <div
                  class="col-sm-6 col-sm-offset-3 profile-right-content padding_top50"
                >
                  <app-change-password></app-change-password>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
