<div id="main-wrapper" class="no-sidebar">
  <ngx-loading
    [show]="redirectLoding"
    [config]="{
      primaryColour: primaryColour,
      secondaryColour: secondaryColour,
      tertiaryColour: primaryColour,
      backdropBorderRadius: '3px'
    }"
  ></ngx-loading>
  <app-header></app-header>
  <div class="main-container-sec signup-form-page">
    <div class="row login-table blue-tabs-relative">
      <div class="col-sm-4 col-sm-push-8" style="display:block;" id="loginFr">
        <div class="login-signup-bottom-sec">
          <div class="right-sec signup-form-page login-form login-width">
            <div class="right-sec-inner-sec">
              <div class="right-sec-inner signup-form-box">
                <div class="box-title">
                  <div class="text-title">{{ "Login" | translate }}</div>
                </div>
                <form [formGroup]="loginFrm" (ngSubmit)="login()">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input
                          required
                          autocomplete="off"
                          formControlName="user_name"
                          name="user_name"
                          type="text"
                          class="form-control"
                          placeholder="{{ translateText('Userid') }}"
                        />
                        <div *ngIf="f.user_name.touched && f.user_name.invalid">
                          <span
                            class="error-msg"
                            *ngIf="f.user_name.errors?.required"
                            >{{ "User id is required" | translate }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input
                          required
                          autocomplete="off"
                          formControlName="password"
                          type="password"
                          name="password"
                          class="form-control"
                          placeholder="{{ translateText('Password') }}"
                        />
                        <div *ngIf="f.password.touched && f.password.invalid">
                          <span
                            class="error-msg"
                            *ngIf="f.password.errors?.required"
                            >{{ "Password is required" | translate }}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group text-right">
                        <div class="f-text">
                          <a
                            (click)="showForgotPass()"
                            style="cursor: pointer"
                            >{{ "Forgot Password" | translate }}?</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div
                        class="form-group text-center no-margin-b"
                        [ngClass]="{ 'pos-rel': loder }"
                      >
                        <div class="spinner" *ngIf="loder">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                        </div>

                        <button
                          class="btn btn-primary submit-btn"
                          type="submit"
                          [disabled]="!loginFrm.valid"
                        >
                          {{ "Login" | translate }}
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="dont-account">
                        {{ "Do not have account?" | translate }}
                        <a class="" routerLink="/account-verification">{{
                          "Register" | translate
                        }}</a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-sm-push-8" style="display:none;" id="forgotPass">
        <div class="login-signup-bottom-sec">
          <div class="right-sec signup-form-page login-form login-width">
            <div class="forgot-password-scroll">
              <div class="right-sec-inner signup-form-box">
                <div class="box-title">
                  <div class="text-title">{{'Forgot Password'|translate}}</div>
                </div>
                <form
                  class="form no-padding"
                  [formGroup]="forgotPassFrm"
                  (ngSubmit)="validateForgotPasswordFrm()"
                >
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input
                          formControlName="email"
                          autocomplete="off"
                          name="email"
                          type="text"
                          class="form-control"
                          placeholder="{{'Userid'|translate}} / {{'E-mail'|translate}} / {{'Mobile no.'|translate}}"
                        />
                        <div *ngIf="errorFlags.email">
                          <span class="error-msg"
                            >{{'Userid/E-mail/mobile no. is required'|translate}}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12"><div class="orClass">{{'Or'|translate}}</div></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input
                          formControlName="email1"
                          autocomplete="off"
                          name="email1"
                          type="text"
                          class="form-control"
                          placeholder="{{'Userid'|translate}}"
                          (input)="getSelectedQuestions(forgotPassFrm.value.email1)"
                        />
                        <div *ngIf="errorFlags.email1">
                          <span class="error-msg"
                            >{{'User id is required'|translate}}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <select
                          formControlName="questionsList1"
                          autocomplete="off"
                          name="questionsList1"
                          class="form-control"
                          disabled
                        >
                          <option value="">{{'Select Security question'|translate}}</option>
                          <option
                            *ngFor="let ques of questionsList1"
                            [value]="ques.id"
                            >{{ ques.questions }}</option
                          >
                        </select>
                        <div *ngIf="errorFlags.questionsList1">
                          <span class="error-msg"
                            >{{'Security ques 1 is required'|translate}}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input
                          formControlName="ansques1"
                          autocomplete="off"
                          name="ansques1"
                          type="text"
                          class="form-control"
                          placeholder="{{'Answer 1'|translate}}"
                        />
                        <div *ngIf="errorFlags.ansques1">
                          <span class="error-msg">{{'Answer 1 is required'|translate}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <select
                        autocomplete="off"
                          formControlName="questionsList2"
                          name="questionsList2"
                          class="form-control"
                          disabled
                        >
                          <option value="">{{'Select security questions'|translate}}</option>
                          <option
                            *ngFor="let ques of questionsList2"
                            [value]="ques.id"
                            >{{ ques.questions }}</option
                          >
                        </select>
                        <div *ngIf="errorFlags.questionsList2">
                          <span class="error-msg"
                            >{{'Security ques 1 is required'|translate}}</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <input
                        autocomplete="off"
                          name="ansques2"
                          formControlName="ansques2"
                          type="text"
                          class="form-control"
                          placeholder="{{'Answer 2'|translate}}"
                        />
                        <div *ngIf="errorFlags.ansques2">
                          <span class="error-msg">{{'Answer 2 is required'|translate}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <div
                        class="form-group text-center no-margin-b"
                        [ngClass]="{ 'pos-rel': loder }"
                      >
                        <div class="spinner" *ngIf="loder">
                          <div class="bounce1"></div>
                          <div class="bounce2"></div>
                          <div class="bounce3"></div>
                        </div>
                        <button
                          class="btn btn-primary submit-btn"
                          [disabled]="loder"
                        >
                        {{'Submit'|translate}}
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="col-sm-12" style="margin-top: 30px;">
                  <div class="form-group text-right">
                    <div class="f-text">
                      <a (click)="showLogin()" style="cursor: pointer;">
                        {{'Back to login'|translate}}</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="main-slide-bar">
          <home-page-slider [content]="sliderContent"></home-page-slider>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
