<form
  class="form top-label-form"
  [formGroup]="ChangePasswordFrm"
  (ngSubmit)="changePassFunc()"
>
  <div class="row">
    <div
      class="form-hint"
      style="margin-bottom: 13px;
      padding-left: 10px;"
    >
      <span style="color:red">
        <strong>{{ "note" | translate }}:</strong>
      </span>
      {{
        "Confirm with our Strong Password policy, you are required to use a sufficiently strong password. Password must contain more than 8 characters, 1 upper case letter, and 1 special character."
          | translate
      }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <label>{{'Old Password'|translate }}</label>
        <input
          required
          formControlName="oldPassword"
          name="oldPassword"
          type="password"
          name=""
          class="form-control"
          placeholder="{{'Old Password'|translate }}"
        />
        <div
          *ngIf="
            changePassFields.oldPassword.touched &&
            changePassFields.oldPassword.invalid
          "
        >
          <span
            class="error-msg"
            *ngIf="changePassFields.oldPassword.errors?.required"
            >{{'Old Password'|translate }} {{ 'required' | translate }}</span
          >
        </div>
      </div>
      <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label>{{ "new" | translate }} {{ "password" | translate }}*</label>
          <input
            required
            formControlName="password"
            name="password"
            type="password"
            name=""
            class="form-control"
            placeholder="{{ 'new' | translate }} {{ 'password' | translate }}"
          />
          <div
            *ngIf="
              changePassFields.password.touched &&
              changePassFields.password.invalid
            "
          >
            <span
              class="error-msg"
              *ngIf="changePassFields.password.errors?.required"
            >
              {{ "password" | translate }} {{ "required" | translate }}</span
            >
            <span
              class="error-msg"
              *ngIf="
                !changePassFields.password.errors?.patterns &&
                changePassFields.password.value != ''
              "
              >{{ "invalid" | translate }} {{ "password" | translate }}</span
            >
          </div>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label>{{ "confirmpassword" | translate }}*</label>
            <input
              required
              formControlName="cpassword"
              name="cpassword"
              type="password"
              name=""
              class="form-control"
              placeholder="{{ 'confirmpassword' | translate }}"
            />
            <div
              *ngIf="
                changePassFields.cpassword.touched &&
                changePassFields.cpassword.invalid
              "
            >
              <span
                class="error-msg"
                *ngIf="changePassFields.cpassword.errors?.required"
                >{{ "password" | translate }} {{ "required" | translate }}</span
              >
            </div>
            <div
              *ngIf="
                ChangePasswordFrm.hasError('notSame') &&
                (changePassFields.cpassword.touched &&
                  changePassFields.password.touched &&
                  changePassFields.cpassword.value != '')
              "
            >
              <span class="error-msg">{{
                "passwordconfirmpasswordnotmatch" | translate
              }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div
            class="form-group text-center no-margin-b"
            [ngClass]="{ 'pos-rel': changePassFuncLoader }"
          >
            <div class="spinner" *ngIf="changePassFuncLoader">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
            <button
              class="btn btn-primary submit-btn"
              [disabled]="!ChangePasswordFrm.valid"
            >
              {{ "submit" | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
