<FORM NAME='TESTFORM' ACTION='http://192.168.1.108:4200' METHOD='POST'>
    <input type='hidden' name='CURRENCY'>
    <input type='hidden' name='CUST_ID' >
    <input type='hidden' name='GATEWAYNAME' >
    <input type='hidden' name='RESPMSG' >
    <input type='hidden' name='BANKNAME'>
    <input type='hidden' name='PAYMENTMODE' >
    <input type='hidden' name='MID' >
    <input type='hidden' name='RESPCODE' >
    <input type='hidden' name='TXNID' >
    <input type='hidden' name='TXNAMOUNT' >
    <input type='hidden' name='ORDERID' >
    <input type='hidden' name='STATUS' >
    <input type='hidden' name='BANKTXNID'>
    <input type='hidden' name='TXNDATE' >
    <input type='hidden' name='CHECKSUMHASH'>
</FORM>