<div id="main-wrapper" class="no-sidebar">
	<app-header></app-header>
	<div class="main-container-sec service-request-page">
		<div class="container">
			<div class="request-track-banner inner-page-banner">
				<img src="assets/images/service-reg-bg.jpg" alt="">
				<div class="content">
					Changing The <span>Power</span> <br>That Changes The World
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-8 col-md-offset-3 col-sm-offset-2">
					<div class="service-box">
						<div class="title">
							Request Track
						</div>
						<form class="no-margin-t">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<input type="text" name="" class="form-control" placeholder="Request No.">
									</div>		
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<input type="text" name="" class="form-control" placeholder="Given No.">
									</div>		
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group text-center no-margin-b">
									  	<button class="btn btn-primary submit-btn">Submit</button>
									</div>		
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="service-box">
						<div class="title">
							Track Your Request
						</div>
						<ul class="track-req-list">
							<li>
								<div class="label-title">name</div>
								<div class="label-detail">Supply Selected</div>
							</li>
							<li>
								<div class="label-title">Type</div>
								<div class="label-detail">Supply Selected</div>
							</li>
							<li>
								<div class="label-title">division</div>
								<div class="label-detail">DS, ND</div>
							</li>
							<li>
								<div class="label-title">zone</div>
								<div class="label-detail">North</div>
							</li>
							<li>
								<div class="label-title">zone</div>
								<div class="label-detail">North</div>
							</li>
							<li>
								<div class="label-title">sub division</div>
								<div class="label-detail">DS City</div>
							</li>
							<li>
								<div class="label-title">subtype</div>
								<div class="label-detail">Voltage</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="contact-numbers">
			<div class="container">
				<div class="left-contact">
					<span  class="call-icon">
						<img  src="assets/images/call-white-icon.png">
					</span>
					<div class="toll-free">Toll Free No. <span>1800 0000 000</span></div>
				</div>
				<div class="right-contact">
					<span  class="call-icon">
						<img  src="assets/images/call-white-icon.png">
					</span>
					<div class="toll-free">Complaint Number: <span>1800 0000 000</span></div>
				</div>
				<div class="energy-conservation margin_top10">
	            	<div class="content">Energy conservation, a key to sustainable development</div> <a href="" class="pull-right">View more <img src="assets/images/blue-right-arrow.png" alt=""></a>
	            </div>
			</div>
		</div>
		<div class="disclaimer-sec">
			<div class="container">
				<div class="title">Disclaimer</div>
				<div class="decl-text">
					While every care has been taken to ensure the accuracy of information furnished in this website, TANGEDCO does not accept any responsibility or liability for any damage or loss caused to any person as a result of any action taken on the basis of this information. However, TANGEDCO shall be obliged if errors / omissions are brought to its notice for carrying out corrections in the next update.
				</div>
			</div>
		</div>
	</div>
</div>
<app-footer></app-footer>