<div id="main-wrapper">
    <app-header></app-header>
    <app-side-bar [displayUserInfo]="dispString"></app-side-bar>
    <div id="content-wrapper">
       <!--
          <div class="page-heading">
            Good Morning Mr. Shukla
          </div>
          -->
       <div
          class="billing-sec profile-page "
          [ngClass]="{ 'profile-update-page': viewProfileBlock == false }"
          >
          <div class="row">
             <div class="col-sm-12">
                <div class="panel-body" [ngClass]="{ loderHeight: loder == true }">
                   <div class="spinner box-spinner" *ngIf="loder == true">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                   </div>
                   <div class="row" *ngIf="loder == false">
                      <div class="col-sm-6 profile-left-info">
                         <div class="row">
                            <div class="col-sm-5 col-xs-12">
                               <div class="profile-image">
                                  <img
                                     [src]="profile_image"
                                     alt="{{profileData.first_name}} {{profileData.last_name}}"
                                     />
                                  <!-- <span>
                                     <small>
                                       <span style="font-weight: 500;color: #ff0000;">Note</span> &nbsp;Valid file extensions ex png,jpeg and jpg
                                     </small>
                                     </span> -->
                                  <div class="spinner" *ngIf="ProfileImageLoader">
                                     <div class="bounce1"></div>
                                     <div class="bounce2"></div>
                                     <div class="bounce3"></div>
                                  </div>
                                  <div
                                     class="inputBtnSection fileUpload"
                                     *ngIf="!viewProfileBlock"
                                     >
                                     <label class="" style="">
                                     <input
                                        name="profileImg"
                                        type="file"
                                        id="profileImg"
                                        (change)="onFileChanged($event)"
                                        class="upload"
                                        />
                                     <span class="uploadBtn"
                                        ><i class="fa fa-pencil"></i
                                        ></span>
                                     </label>
                                  </div>
                               </div>
                            </div>
                            <div class="col-sm-7 col-xs-12 profile-info">
                               <div class="pro-name">
                                  {{ profileData.first_name }} {{ profileData.last_name }}
                               </div>
                               <div class="pro-account">
                                  {{'Account Number'|translate}}
                                  <span>{{accountNumber}}</span>
                               </div>
                               <div class="text-center profile-edit-block margin_top40">
                                  <a
                                  *ngIf="viewProfileBlock"
                                  style="cursor:pointer"
                                  (click)="showProfileUpdateFrm(viewProfileBlock)"
                                  class="blue-btn pay-now-btn"
                                  ><i class="fa fa-pencil"></i> &nbsp;&nbsp;{{'Edit Profile'|translate}}</a
                                     >
                               </div>
                               <div
                                  class="text-center margin_top40 profile-edit-block"
                                  *ngIf="!viewProfileBlock"
                                  >
                                  <a
                                     style="cursor:pointer"
                                     (click)="showProfileUpdateFrm(viewProfileBlock)"
                                     class="blue-btn pay-now-btn"
                                     ><i class="fa fa-eye"></i> &nbsp;&nbsp;{{'view'| translate}} {{'profile'| translate}}</a
                                     >
                               </div>
                            </div>
                         </div>
                      </div>
                      <!-- Profile View -->
                      <div
                         class="col-sm-6 profile-right-content"
                         *ngIf="viewProfileBlock"
                         >
                         <div class="row">
                            <div class="col-sm-6">
                               <ul class="consumer-detail">
                                  <li>
                                     <div class="lable-detail">{{'Name'| translate	}}</div>
                                     <div class="detail">
                                        {{ profileData.account_name }}
                                     </div>
                                  </li>
                                  <li>
                                     <div class="lable-detail">{{'Mobile'| translate}}</div>
                                     <div class="detail">+91 {{ profileData.mobile }}</div>
                                  </li>
                               </ul>
                            </div>
                            <div class="col-sm-6">
                               <ul class="consumer-detail">
                                  <li>
                                     <div class="lable-detail">{{'Email'| translate}}</div>
                                     <div class="detail">{{ profileData.email }}</div>
                                  </li>
                                  <li>
                                     <div class="lable-detail">{{'Address'| translate}}</div>
                                     <div class="detail">{{ profileData.premise_address }}</div>
                                  </li>
                               </ul>
                            </div>
                         </div>
                      </div>
                      <!-- Profile View ends here -->
                      <div
                         class="col-sm-6 profile-right-content"
                         *ngIf="!viewProfileBlock"
                         >
                         <form
                         class="form padding_right15 edit-profile"
                         [formGroup]="updateProfileFrm"
                         (ngSubmit)="UpdateProfileFunction()"
                         >
                         <div class="row">
                            <div class="col-sm-6">
                               <div class="form-group no-editable">
                                  <label>{{'Name'| translate}}*</label>
                                  <input
                                     type="text"
                                     name=""
                                     class="form-control"
                                     placeholder=""
                                     formControlName="name"
                                     [disabled]=true
                                     />
                                     <div *ngIf="f.name.touched && f.name.invalid">
                                       <span
                                          class="error-msg"
                                          *ngIf="f.name.errors?.required"
                                          >{{'Name is required'|translate}}</span
                                          >
                                    </div>
                               </div>
                               <!--
                                  <div class="form-group no-editable">
                                    <label>Last Name</label>
                                    <input type="text" name="" class="form-control" placeholder="" value="Ravish Shukla">
                                  </div>
                                  -->
                                  <!-- pattern="^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[789]\d{9}$" -->
                               <div class="form-group">
                                  <label>{{'Mobile No'|translate}}</label>
                                  <input
                                     type="text"
                                     name=""
                                     class="form-control"
                                     placeholder=""
                                     formControlName="mobile"
                                     name="mobile"
                                    />
                                  <!-- <div *ngIf="f.mobile.touched && f.mobile.invalid">
                                     <span
                                        class="error-msg"
                                        *ngIf="f.mobile.errors?.required"
                                        >{{'Mobile is required'|translate}}</span
                                        >
                                     <span
                                        class="error-msg"
                                        *ngIf="f.mobile.errors?.pattern"
                                        >{{'Please enter valid mobile number'|translate}}</span
                                        >
                                  </div> -->
                               </div>
                            </div>
                            <div class="col-sm-6">
                               <div class="form-group">
                                  <label>{{'Email'| translate}}</label>
                                  <input
                                     type="text"
                                     formControlName="email"
                                     name="email"
                                     class="form-control"
                                     placeholder=""
                                     />
                                 <!--  <div
                                     *ngIf="
                                     f.email.touched && f.email.errors && f.email.invalid
                                     "
                                     >
                                     <span
                                        class="error-msg"
                                        *ngIf="f.email.invalid && !f.email.errors?.required"
                                        >
                                     {{'Email address is invalid'|translate}}</span
                                        >
                                     <span
                                        class="error-msg"
                                        *ngIf="f.email.errors?.required"
                                        >{{'Email address is required'}}|translate</span
                                        >
                                  </div> -->
                               </div>
                               <div class="form-group no-editable">
                                  <label>{{'Address'| translate}}*</label>
                                  <textarea
                                     class="form-control"
                                     id=""
                                     rows="4"
                                     placeholder=""
                                     value=""
                                     name="area"
                                     formControlName="area"
                                     [disabled]=true
                                     
                                     ></textarea>
                                     <div *ngIf="f.area.touched && f.area.invalid">
                                       <span
                                          class="error-msg"
                                          *ngIf="f.area.errors?.required"
                                          >{{'Name is required'|translate}}</span
                                          >
                                    </div>
                                  <!-- {{updateProfileFrm.value | json}} -->
                               </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-sm-12">
                               <div
                                  class="form-group text-center no-margin-b"
                                  [ngClass]="{ 'pos-rel': profileUpdateLoder }"
                                  >
                                  <div class="spinner" *ngIf="profileUpdateLoder">
                                     <div class="bounce1"></div>
                                     <div class="bounce2"></div>
                                     <div class="bounce3"></div>
                                  </div>
                                  <!-- [disabled]="updateProfileFrm.valid == false || invalidImageIssue == true || profileUpdateLoder == true" -->
                                  <button
                                     class="btn btn-primary submit-btn"
                                     type="submit"
                                     >
                                     {{'Save Details'|translate}}
                                    </button>
                               </div>
                            </div>
                         </div>
                         </form>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <app-advertisement [adQuery]="fetchAdQuery"></app-advertisement>
       </div>
       <div id="main-menu-bg"></div>
    </div>
    <app-footer></app-footer>
 </div>
 <div 
    class="modal fade topVerification-modal" 
    id="topVerification-frm" 
    tabindex="-1" 
    role="dialog" aria-labelledby="myLargeModalLabel"
    >
    <div class="modal-dialog modal-md" role="document">
       <div class="modal-content">
          <div class="modal-body">
             <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                >
             <span aria-hidden="true">&times;</span>
             </button>
             <h4 class="modal-title" id="gridSystemModalLabel">{{'OTP Verification'|translate}}</h4>
             <div class="box-title">
                <div class="text-title text-transform-none" style="margin-top: 10px; margin-bottom: 10px;">
                  {{'OTP has been sent to your registered mobile number and
                   email. please enter it below to verify'|translate}}.
                </div>
             </div>
             <form
             class="form  custom-form"
             [formGroup]="OtpVerificationFrm"
             (ngSubmit)="verifyOtpFun()"
             >
             <div class="row">
                <div class="col-sm-12">
                   <div class="form-group">
                      <input
                         required
                         formControlName="verifyOtp"
                         name="verifyOtp"
                         type="text"
                         class="form-control"
                         placeholder="{{'otp'|translate}}"
                         />
                      <div
                         *ngIf="
                         OtpVerificationFields.verifyOtp.touched &&
                         OtpVerificationFields.verifyOtp.invalid
                         "
                         >
                         <span
                            class="error-msg"
                            *ngIf="OtpVerificationFields.verifyOtp.errors?.required"
                            >{{'otp'|translate}} {{'required'|translate}}</span
                            >
                      </div>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-sm-12">
                   <div
                      class="form-group text-center no-margin-b"
                      [ngClass]="{ 'pos-rel': Otoploder }"
                      >
                      <div class="spinner" *ngIf="Otoploder">
                         <div class="bounce1"></div>
                         <div class="bounce2"></div>
                         <div class="bounce3"></div>
                      </div>
                      <button
                         class="btn btn-primary submit-btn"
                         [disabled]="!OtpVerificationFrm.valid  || Otoploder == true"
                         >
                         {{'submit'|translate}}
                      </button>
                   </div>
                </div>
             </div>
             </form>
          </div>
       </div>
    </div>
 </div>
 <div 
    class="modal fade passwordVeri-modal" 
    id="passwordVerification-frm" 
    tabindex="-1" 
    role="dialog" aria-labelledby="myLargeModalLabel"
    >
    <div class="modal-dialog modal-md" role="document">
       <div class="modal-content">
          <div class="modal-body">
             <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
                >
             <span aria-hidden="true">&times;</span>
             </button>
             <h4 class="modal-title" id="gridSystemModalLabel">{{'Password confirmation'|translate}} </h4>
             <div class="box-title">
                <div class="text-title text-transform-none" style="margin-top: 10px; margin-bottom: 10px;">
                 <!--  {{'OTP verified successfully'|translate}}!<br/> -->{{'Please confirm your password in order to update your mobile number' | translate}}
                </div>
             </div>
             <form
             class="form  custom-form"
             [formGroup]="passwordVerificationFrm"
             (ngSubmit)="verifyPassword()"
             >
             <div class="row">
                <div class="col-sm-12">
                   <div class="form-group">
                      <input
                         required
                         formControlName="password"
                         name="password"
                         type="password"
                         class="form-control"
                         placeholder="{{'Password'|translate}}"
                         />
                      <div
                         *ngIf="
                         otpf.password.touched &&
                         otpf.password.invalid
                         "
                         >
                         <span
                            class="error-msg"
                            *ngIf="otpf.password.errors?.required"
                            >{{'password'|translate}} {{'required'|translate}}</span
                            >
                      </div>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-sm-12">
                   <div
                      class="form-group text-center no-margin-b"
                      [ngClass]="{ 'pos-rel': pwVerifLoader }"
                      >
                      <div class="spinner" *ngIf="pwVerifLoader">
                         <div class="bounce1"></div>
                         <div class="bounce2"></div>
                         <div class="bounce3"></div>
                      </div>
                      <button
                         class="btn btn-primary submit-btn"
                         [disabled]="!passwordVerificationFrm.valid  || pwVerifLoader == true"
                         >
                         {{'submit'|translate}}
                      </button>
                   </div>
                </div>
             </div>
             </form>
          </div>
       </div>
    </div>
 </div>