<div id="main-wrapper" class="no-sidebar">
	<app-header></app-header>
  	<div class="main-container-sec about-main-container">
  		<div class="container">
	     	<div class="important-banner inner-page-banner">
		     	<img alt="" src="../assets/images/important-link-banner.jpg">
	     	</div>
	    </div>
     	<div class="main-page-wrapper">
     		<div class="container">
     			<div class="important-content-sec">
	     			<div class="row">
	     				<div class="col-sm-9">
	     					<div class="important-box">
	     						<div class="main-heading">Important links</div>
	     						<ul class="important-link">
	     							<li>
	     								<a href="#">Contact Directory</a>
	     							</li>
	     							<li>
	     								<a href="#">Website Directory</a>
	     							</li>
	     							<li>
										<a href="#">Consumer Login</a>
	     							</li>
	     							<li>
										<a href="#">iOS App Download</a>
	     							</li>
	     							<li>
										<a href="#">Android App Download</a>
	     							</li>
	     							<li>
										<a href="#">Training Development</a>
	     							</li>
	     							<li>
										<a href="#">Enery Conservation</a>
	     							</li>
	     							<li>
										<a href="#">About us</a>
	     							</li>
	     						</ul>
	     					</div>
	     				</div>
	     				<div class="col-sm-3 download-right important-link-right">
	     					<div class="add-box no-margin-t">
	     						<img align="right" src="assets/images/syska-add-img.jpg" />
	     					</div>
	     				</div>
	     			</div>
	     		</div>
		    </div>
		    <div class="container">
	            <div class="energy-conservation">
	              <div class="content">Energy conservation, a key to sustainable development</div> <a href="" class="pull-right">View more  <img src="assets/images/blue-right-arrow.png" alt=""></a>
	            </div>
	        </div>
		    <div class="disclaimer-sec">
		      <div class="container">
		        <div class="title">Disclaimer</div>
		        <div class="decl-text">
		          While every care has been taken to ensure the accuracy of information furnished in this website, TANGEDCO does not accept any responsibility or liability for any damage or loss caused to any person as a result of any action taken on the basis of this information. However, TANGEDCO shall be obliged if errors / omissions are brought to its notice for carrying out corrections in the next update.
		        </div>
		      </div>
		    </div>
     	</div>
  	</div>
</div>
<app-footer></app-footer>